<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailus - File uploader</title>

    <link rel="stylesheet" href="../build/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body class="h-screen flex items-center overflow-hidden">
    <div class="absolute inset-0 w-full h-full m-auto">
        <img id="background" src="../public/images/bg2.webp" class="h-screen w-full object-cover transition duration-300" alt="">
    </div>
    <div class="m-auto px-6 sm:px-0 sm:w-8/12 md:w-7/12 lg:w-6/12 xl:w-4/12">
        <div class="relative group w-full h-64 flex justify-center items-center">
            <div class="absolute inset-0 w-full h-full rounded-xl bg-white bg-opacity-80 shadow-2xl backdrop-blur-xl group-hover:bg-opacity-70 group-hover:scale-110 transition duration-300"></div>
            <input accept=".jpg, .jpeg .png, .svg, .webp" class="relative z-10 opacity-0 h-full w-full cursor-pointer" type="file" name="bgfile" id="bgfile">
            <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full m-auo flex items-center justify-center">
                <div class="space-y-6 text-center">
                    <img src="../public/images/file.png" class="sm:w-40 w-32 m-auto" alt="illustration">
                    <p class="text-gray-700 text-lg">Drag and drop a file or <label for="dragOver" title="Upload a file" class="relative z-20 cursor-pointer text-blue-500 hover:text-blue-600 block">Upload a file</label> </p>
                </div>
            </div>
        </div>
    </div>

    <script src="../build/app.js"></script>
    <script src="../build/runtime.js"></script>
</body>
</html>